#main {
    background-color: rgb(253, 187, 187);
    height: 20rem;
    width: 20rem;
    border: 2px solid black;

}

#display {
    background-color: red;
    height: 2rem;

}

#result {
    background-color: rgb(248, 120, 120);
    height: 2rem;
    margin-bottom: 0.5rem;

}


#buttons button {
    height: 3.2rem;
    width: 3.2rem;
    margin: 0.2rem;
    border-radius: 50%;
    border: 2px solid red;
}

#buttons button:hover {
    border: 2px solid blue;
}